* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	background: rgb(67, 182, 236);
	background: linear-gradient(
		193deg,
		rgba(67, 182, 236, 1) 0%,
		rgba(61, 150, 208, 1) 51%,
		rgba(55, 99, 172, 1) 100%
	);
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	margin: 2.5rem;
}

img {
	max-height: 80vh;
	box-shadow: 9px 15px 50px 0px rgba(0, 0, 0, 0.58);
	-webkit-box-shadow: 9px 15px 50px 0px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 9px 15px 50px 0px rgba(0, 0, 0, 0.58);
	border-radius: 25px;
	transition: transform 0.2s;
	transition: transform 0.2s;
}

img:hover {
	transform: scale(1.05);
}
